<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Neil Aditya Raman">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Neil Aditya Raman professional website">
    <title>Neil Aditya Raman</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Neil Aditya Raman</h1>
        <nav>
            <a href="../index.html">about</a>
            <a href="cv.html">resume</a>
            <a href="fun.html">play</a>
            <a href="contact.html">contact</a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Carnegie Mellon University</td>
                <td>Information Systems and Economics</td>
            </tr>
            <tr>
                <td>Independence High School</td>
                <td>High School Diploma</td>
            </tr>
            <tr>
                <td>tango</td>
                <td>Operations Intern</td>
            </tr>
            <tr>
                <td>CareOne Medical</td>
                <td>Healthcare Intern</td>
            </tr>
        </table>
        <p><a href="../static/Neil Raman Resume.pdf">My Resume (pdf)</a></p>
    </div>
    <footer>
        <p>&copy; Neil Aditya Raman. All rights reserved.</p>
        <p id="copyYear"></p>
    </footer>
</body>
</html>