<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Neil Aditya Raman">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Neil Aditya Raman professional website">
    <title>Neil Aditya Raman</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
</head>
<body>
    <header>
        <h1 id="webname">Neil Aditya Raman</h1>
        <nav>
            <a href="../index.html">about</a>
            <a href="cv.html">resume</a>
            <a href="fun.html">play</a>
            <a href="contact.html">contact</a>
        </nav>
    </header>
    <div class="main">
        <h2>Things I love to do for fun</h2>
        <ul>
            <li>Playing badminton and table tennis</li>
            <li>Walking in nature</li>
            <li>Playing video games</li>
            <li>Listening to music</li>
        </ul>
    </div>
    <footer>
        <p>&copy; 2025 Neil Aditya Raman. All rights reserved.</p>
    </footer>
</body>
</html>