<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Neil Aditya Raman">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Neil Aditya Raman professional website">
    <title>Neil Aditya Raman</title>
</head>
<body style="font-family: Arial">
    <header>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
        </nav>
        <h1>Neil Aditya Raman</h1>
    </header>
    <div class="main">
        <h2>Contact Me</h2>
        <form>
            <div>
                <label for="name">Your name (required)</label>
                <input type="text" id="name" name="name" required>
                <label for="email">Your email</label>
                <input type="email" id="email" name="email">
                <label for="comment">Your comment</label>
            </div>
            <div>
                <textarea id="comment" name="comment" rows="8" cols="40"></textarea>
            </div>
            <div>
                <input type="submit" value="SEND">
            </div>
        </form>
        <table>
            <tr>
                <th>Contact Method Description</th>
            </tr>
            <tr>
                <td>neilr@andrew.cmu.edu</td>
            </tr>
            <tr>
                <td>+1 (469) 740-9069</td>
            </tr>
            <tr>
                <td><a href="http://www.linkedin.com/in/neil-raman21">LinkedIn</a></td>
            </tr>
        </table>
    </div>
    <footer>
        <p>&copy; 2025 Neil Aditya Raman. All rights reserved.</p>
    </footer>
</body>
</html>